html {
  box-sizing: border-box;
  font-family: "Karla";
  font-size: 16px;
  font-weight: 400;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: hsl(204, 43%, 93%);
}
.card {
  
  border-radius: 20px;
  box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.35);
  /*To hide any child components parts (coners in this instans) that overflow the main container*/
  overflow: hidden;
  margin: 0 auto;
  
}
#top-section {
  width: 100%;
  height: 45%;
  padding: 30px;
  background-color: #ffffff;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
  color: #ffffff;

}
#bottom-left {
  
  /* width: 50%; */
  height: 100%;

  padding: 30px;

  /*To put the div into top spot into parent div*/
  vertical-align: top;
  background-color: #2ab3b0;
  flex-basis: 50%;
}
#bottom-right {
  
  /* width: 50%; */
  
  height: 100%;
  padding: 30px;

  margin-top: 0;
  background-color: #49bebd;
  flex-basis: 50%;
}
#top-section h2 {
  color: #2ab3b0;
  margin-bottom: 30px;
}
#top-section h3 {
  color: #bedf32;
  margin-bottom: 20px;
}
#top-section p {
  color: hsl(218, 22%, 67%);
}
button {
  color: #ffffff;
  background-color: #bedf32;
  padding: 15px;
  width: 85%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.35);
  font-size: 1rem;
  margin-top: 20px;
}
button:hover {
  cursor: pinter;
  background-color: #a9c42d;
  transform: scale(1);
}

#price {
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
}

#price-frequency {
  position: relative;
  top: -3px;
  margin-left: 5px;
  opacity: 0.8;
}
ul {
  padding: 0;
  list-style: none;
  opacity: 0.8;
  font-size: 0.9rem;
}

@media(min-width : 576px) {
  .card {
     width: 550px;
  height: 500px; 
  }
  #top-section {
    padding: 15px;
  }
  .bottom-section {
    flex-direction: row;
  }
  ul {
    line-height: 1.5rem;
  }
  
}
